<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<script src="js/angular.js"></script>
	<script src="com/accenture/controller/firstController.js"></script>
</head>
<body ng-app ng-controller="firstController" >
	<table>
		<tr>
			<th ng-click="sortIt('hName')">Title</th>
			<th ng-click="sortIt('hPhoto')">Photo</th>
			<th ng-click="sortIt('city')">City</th>
			<th ng-click="sortIt('popular')">Popular</th>
			<th ng-click="sortIt('releaseDate')">Release Date</th>
			<th ng-click="sortIt('price')">Price </th>
		</tr>
		<tr ng-repeat="hero in heros | orderBy : selectedVal : reverse">
			<td>{{hero.hName}}</td>
			<td><img src ='{{hero.hPhoto}}' width="40" align="absmiddle"/></td>
			<td>{{hero.city}}</td>
			<td>{{hero.popular}}</td>
			<td>{{hero.releaseDate}}</td>
			<td>{{hero.price}}</td>
		</tr>
	</table>
</body>
</html>